nav {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  padding: 25px 94px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
nav section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav section ul li {
  color: #787878;
  margin-left: 21px;
}

input[type=text], select {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 20px;
  box-sizing: border-box;
}

.errMsg {
  font-weight: bold;
  color: red;
}

.btn {
  text-decoration: none;
  display: inline-block;
  border: solid 1px #9a9a9a;
  color: #a8a8a8;
  cursor: pointer;
  padding: 6px 10px;
}

.banner {
  height: 241px;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, white -50%, black 50%, black 100%);
  color: white;
  line-height: 1em;
}

.addArticle__form, .addCat__form {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #9a9a9a;
  font-size: 24px;
  line-height: 2em;
}

.main {
  max-width: 920px;
  min-height: calc(100vh - 241px - 79px - 50px - 35px);
  position: relative;
  top: -50px;
  margin: 0 auto;
  box-sizing: border-box;
  background: white;
  padding: 10px;
}
.main__loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__loginform input {
  font-size: 1rem;
  height: auto;
  width: auto;
  line-height: 2rem;
}
.main__card {
  border: solid 1px #9a9a9a;
  padding: 30px 30px 20px 30px;
  margin-bottom: 25px;
}
.main__card__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main__card__top__title {
  font-size: 24px;
  font-weight: bold;
}
.main__card__top__title a {
  text-decoration: none;
  color: black;
}
.main__card__articleInfo {
  background: #eeeeee;
  color: #a8a8a8;
  padding: 12px 22px;
  margin-bottom: 20px;
}
.main__card__articleInfo > a {
  color: #a8a8a8;
}
.main__card__articleContent {
  max-height: 10.2rem;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  overflow: hidden;
  color: #000000;
}
.main__card__categoriesContent {
  max-height: 10.2rem;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  overflow: hidden;
  color: #000000;
  line-height: 2em;
}
.main__card__categoriesContent a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.main__card__categoriesContent > div {
  display: flex;
  justify-content: space-between;
}
.main__pageControls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.main__pageControls a {
  text-decoration: none;
  color: #a8a8a8;
}
.main__pageControls .btn {
  width: 64px;
  text-align: center;
}
.main__pageControls__right, .main__pageControls__left {
  width: 178px;
}

.expand {
  max-height: none;
}

.checkAllArticles {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: #a8a8a8;
  border: 1px solid #9a9a9a;
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 6px 0px;
  cursor: pointer;
}

.footer {
  height: 35px;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

/*# sourceMappingURL=index.css.map */
